{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
     <div class="row">
        <!-- LOAD THE SIDEBAR HERE -->
        {% include 'sidebar.html' %}
        <!-- LOAD THE SIDEBAR HERE END -->

        <!-- RIGHT SIDE CONTENT -->
        <div class="col-md-9">
            <h2>IHA KİRALAMA</h2>
            <p>Lütfen size uygun tarihleri seçin</p>
            <p>(Girdiğiniz gün * IHA ücreti)</p>
            <form action="{% url 'edit_user_uav' rental.pk %}" method="POST" style="width: 500px">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-warning">Onayla</button>
            </form>
            <br>
        </div>
    </div>
    <!-- RIGHT SIDE CONTENT END -->
{% endblock content %}