{% extends 'base.html' %}

{% block content %}
    <!-- HERO -->
    <div>
        <div class="container py-5">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center">
                    <div>
                        <h2 class="display-1">IHA</h2>
                        <p class="lead">
                            İncelemek ve kiralamak için bize katılın!
                        </p>
                            <a href="{{ button_url }}"
                               class="btn btn-dark text-light rounded-pill px-5 py-2">{{ button_text }}</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="https://trthaberstatic.cdn.wp.trt.com.tr/resimler/1988000/bayraktar-tb2-aa-1988627.jpg"
                         alt="" class="w-100">
                </div>
            </div>
        </div>
    </div>
    <!-- HERO END -->

{% endblock content %}